body {
   background-color: black;
}

/*------------ Simple Hovers ---------- */
.grow {
   transition: all .2s ease-in-out;
}

.grow:hover {
   transform: scale(1.5);
}

.growSmal {
   transition: all .2s ease-in-out;
}

.growSmal:hover {
   transform: scale(1.2);
}

/*------------- Coloring -------------*/
p {
   color: #EEEEEE;
}

.col {
   color: #EEEEEE;
}

.row {
   color: #EEEEEE;
}

/* ------------- Alignments for Text ------------- */
.textLeft {
   text-align: left;
}

.textRight {
   text-align: right;
}

.textMiddle {
   text-align: center;
}

/*------------- Navbar ------------- */
.navbar {
   background: linear-gradient(180deg, rgba(76,28,49,1) 0%, rgba(122,0,69,1) 8%, rgba(238,69,78,1) 80%);
   align-items: center;
   font-size: 1.2rem;
}

.navbar-brand {
   max-width: 20%;
}

#navbarlogo {
   margin-left: 5%;
   height: 50px;
}

.nav-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-item {
   padding-right: 2rem;
   margin-left: 2rem;
}

.nav-link {
   font-weight: 400;
   color: white;
   text-align: center;
}

.nav-link:hover {
   color: white;
}

.nav-logo {
   font-size: 2.1rem;
   font-weight: 500;
   color: #d35e27;
}

li {
   list-style: none;
}

.hamburger {
   padding-right: 2%;
   display: none;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #ee4540;
   border: solid 1px black;
}

.display-1 {
   color: #EEEEEE;
   padding-top: 2%;
   text-shadow: 3px 3px 7px rgba(119, 119, 122, 1);
}

.mainBackGroundTop {
   margin-top: 22px;
   margin-left: 2%;
   margin-right: 2%;
   padding-bottom: 2%;
   background: linear-gradient(43deg, rgba(238, 69, 78, 1) 7%, rgba(76, 28, 49, 1) 45%, rgba(45, 20, 44, 1) 45%, rgba(122, 0, 69, 1) 93%, rgba(45, 20, 44, 1) 100%);
   background-position: center;
   object-fit: cover;
}

.containerShadowRight {
   background: linear-gradient(105deg, rgba(0, 0, 0, 1) 27%, rgba(45, 20, 44, 1) 63%, rgba(122, 0, 69, 1) 100%);
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.containerShadowLeft {
   background: linear-gradient(260deg, rgba(0, 0, 0, 1) 27%, rgba(45, 20, 44, 1) 63%, rgba(122, 0, 69, 1) 100%);
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.img-fluid {
   object-fit: fill;
}

.img-fluid {
   width: 270px !important;
   height: 430px !important;
}

/* ------------- TimeLine Section ----------------- */
.historyContainer {
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 0%;
}

#timeline {
   display: flex;
   background-color: #031625;
}

#timeline:hover .tl-item {
   width: 23.3333%;
}

.tl-item {
   transform: translate3d(0, 0, 0);
   position: relative;
   width: 25%;
   height: 100vh;
   min-height: 600px;
   color: #fff;
   overflow: hidden;
   transition: width 0.5s ease;
}

.tl-item:before,
.tl-item:after {
   transform: translate3d(0, 0, 0);
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.tl-item:after {
   background: rgba(3, 22, 37, 0.85);
   opacity: 1;
   transition: opacity 0.5s ease;
}

.tl-item:before {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%);
   z-index: 1;
   opacity: 0;
   transform: translate3d(0, 0, 0) translateY(50%);
   transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
   width: 30% !important;
}

.tl-item:hover:after {
   opacity: 0;
}

.tl-item:hover:before {
   opacity: 1;
   transform: translate3d(0, 0, 0) translateY(0);
   transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
   opacity: 1;
   transform: translateY(0);
   transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
   filter: grayscale(0);
}

.tl-content {
   transform: translate3d(0, 0, 0) translateY(25px);
   position: relative;
   z-index: 1;
   text-align: center;
   margin: 0 1.618em;
   top: 55%;
   opacity: 0;
}

.tl-content h1 {
   font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   color: #1779cf;
   font-size: 1.44rem;
   font-weight: normal;
}

.tl-year {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   z-index: 1;
   border-bottom: 1px solid #fff;
}

.tl-year p {
   font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 1.728rem;
   line-height: 0;
}

.tl-bg {
   transform: translate3d(0, 0, 0);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: center center;
   transition: filter 0.5s ease;
   filter: grayscale(100%);
}

/*------------- Mid Section -------------*/
.midSection {
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   background: linear-gradient(140deg, rgba(238, 69, 78, 1) 1%, rgba(76, 28, 49, 1) 45%, rgba(45, 20, 44, 1) 45%, rgba(122, 0, 69, 1) 93%, rgba(45, 20, 44, 1) 100%);
   background-position: center;
   object-fit: cover;
}

.display-4 {
   color: #EEEEEE;
   padding-top: 2%;
   text-shadow: 3px 3px 7px rgba(119, 119, 122, 1);
}

.blurDatShit {
   background: rgba(0, 0, 0, 0.1);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(0px);
   -webkit-backdrop-filter: blur(0px);
}

.slideShowButton {
   width: auto;
   height: 30px;
}

.mySlides {
   display: none;
}

/* ----------------- Footer ------------------ */
.deviderLine {
   border: solid 1px white;
   margin-left: 2%;
   margin-right: 2%;
   padding-top: 0;
   margin-top: 2%;
}

.map {
   width: 600px;
   height: 150px;
}

.footerLinks {
   padding-left: 2%;
   padding-right: 2%;
}

.footerText {
   text-align: right;
   margin-right: 2%;
   margin-bottom: 5px;
}


/*------------- Queries -------------*/
@font-face {
   font-family: headers;
   src: url(Righteous-Regular.ttf);
}

@media only screen and (max-width: 768px) {
   .nav-menu {
      position: fixed;
      left: -100%;
      top: 3rem;
      flex-direction: column;
      background-color: #ee4540;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
         0 10px 27px rgba(0, 0, 0, 0.05);
   }

   .nav-menu.active {
      left: 0;
   }

   .nav-item {
      margin: 2.5rem 0;
   }

   .hamburger {
      display: inline-block;
      cursor: pointer;
   }

   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
   }

   .slideShowButton {
      width: 15px;
      height: 15px;
   }

   .map {
      width: 150px;
      height: 150px;
   }
}

/* Nissan.html */
.historyContainer2 {
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 0%;
}

#timeline2 {
   display: flex;
   background-color: #031625;
}

#timeline2:hover .tl-item2 {
   width: 23.3333%;
}

.tl-item2 {
   transform: translate3d(0, 0, 0);
   position: relative;
   width: 25%;
   height: 100vh;
   min-height: 600px;
   color: #fff;
   overflow: hidden;
   transition: width 0.5s ease;
}

.tl-item2:before,
.tl-item2:after {
   transform: translate3d(0, 0, 0);
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.tl-item2:after {
   background: rgba(3, 22, 37, 0.85);
   opacity: 1;
   transition: opacity 0.5s ease;
}

.tl-item2:before {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%);
   z-index: 1;
   opacity: 0;
   transform: translate3d(0, 0, 0) translateY(50%);
   transition: opacity 0.5s ease, transform 0.5s ease;
}


.tl-item2:hover:after {
   opacity: 0;
}

.tl-item2:hover:before {
   opacity: 1;
   transform: translate3d(0, 0, 0) translateY(0);
   transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item2:hover .tl-content2 {
   opacity: 1;
   transform: translateY(0);
   transition: all 0.75s ease 0.5s;
}

.tl-item2:hover .tl-bg2 {
   filter: grayscale(0);
}

.tl-content2 {
   transform: translate3d(0, 0, 0) translateY(25px);
   position: relative;
   z-index: 1;
   text-align: center;
   margin: 0 1.618em;
   top: 55%;
   opacity: 0;
}

.tl-content2 h1 {
   font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   color: #1779cf;
   font-size: 1.44rem;
   font-weight: normal;
}

.tl-year2 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   z-index: 1;
   border-bottom: 1px solid #fff;
}

.tl-year2 p {
   font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 1.728rem;
   line-height: 0;
}

.tl-bg2 {
   transform: translate3d(0, 0, 0);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: center center;
   transition: filter 0.5s ease;
   filter: grayscale(100%);
}